@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
  --primary: #ffffff;
  --secondary: #1a1a1a;
  --accent: #ff0000;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}

.layout-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
